.navigation-wrapper-desktop {
    display: flex;
    justify-content: space-between;
    padding: .9375rem 1.5625rem;
    background: $almost-white;

    @media only screen and (max-width: 829px) {
        display: none;
    }

    &__link {
        color: $blue-main;
        font-family: $base-font-family;
        font-size: 1.25rem;
        text-shadow: .0625rem -0.0625rem .125rem #7b7e84b3;

        @media only screen and (max-width: 1100px) {
           font-size: 1rem;
        }

        @media only screen and (max-width: 829px) {
            font-size: .875rem;
         }

        &:hover {
            opacity: 0.8;
        }

        &--hover {
            @keyframes puls {
                0% {
                    transform: scale(1, 1);
                }
                50% {
                    transform: scale(1.1, 1.1);
                }
                100% {
                    transform: scale(1, 1);
                }
              }

            animation: puls infinite 6s;

            &:hover {
                opacity: 1;
            }
        }

        &--align {
            @include flex-row-centerY-centerX;
        }
    }

    &__logo {
        display: block;
        max-width: 5rem;

        @media only screen and (max-width: 829px) {
            max-width: 3rem;
         }
    }

    &__links {
        @include flex-row-centerY-centerX;
        gap: 3.125rem;

        @media only screen and (max-width: 1100px) {
            gap: 1.5625rem;
        }
    }

    &__cart-logo {
        max-width: 1.5625rem;
    }

    &__cart-count {
        font-family: $base-font-family;
        font-size: .875rem;
        color: #233565;
        padding: 0 .5rem .5rem .5rem;
        margin-top: -0.9375rem;
    }

    &__username {
        font-family: $base-font-family;
        font-size: 1.125rem;
        color: #233565;
    }
}

.navigation-wrapper-mobile {
    display: none;
    background: $almost-white;
    padding: .9375rem;

    @media only screen and (max-width: 829px) {
        @include flex-column-leftX;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    &__logo {
        max-width: 3.125rem;
    }

    &__right {
        @include flex-row-centerY-centerX;
        gap: .625rem;
    }

    &__link {
        color: $blue-main;
        font-family: $base-font-family;
        font-size: 1rem;
        text-shadow: .0625rem -0.0625rem .125rem #7b7e84b3;

        &--align {
            @include flex-row-centerY-centerX;
            gap: .3125rem;
        }
    }

    &__cart-logo {
        display: block;
        max-width: 1.25rem;
        object-fit: contain;
    }

    &__cart-count {
        font-family: $base-font-family;
        font-size: .875rem;
        color: #233565;
        padding: 0 .5rem .5rem .5rem;
        margin-top: -0.9375rem;
    }

    &__img-wrapper {
        position: relative;
        padding-right: .9375rem;
        width: .9375rem;
        height: .9375rem;
    }

    &__hamburger {
        display: block;
        width: .9375rem;
        height: .9375rem;
        object-fit: contain;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 1;

        &--opacity {
            opacity: 0;
        }
    }

    &__close {
        display: block;
        width: .9375rem;
        height: .9375rem;
        object-fit: contain;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;

        &--opacity {
            opacity: 1;
        }
    }

    &__bottom {
        display: none;

        &--display {
            @include flex-column-leftX;
            gap: .625rem;
            padding: .9375rem;
        }
    }

    &__links {
        @include flex-column-leftX;
        gap: .625rem;
    }
}