.add-to-cart-btn  {
    font-family: $base-font-family;
    font-size: .875rem;
    color: $true-white;
    border: none;
    border-radius: .3125rem;
    padding: .3125rem;
    margin-top: auto;

    &__active {
        background: $green-btn;

        &:hover {
            cursor: pointer;
            opacity: 0.8;
        }
    }

    &__inactive {
        background: $almost-white;
        opacity: 0.8;
        cursor: default;
    }
}

.submit-btn {
    font-family: $base-font-family;
    font-weight: 400;
    font-size: 1rem;
    padding: .3125rem .9375rem;
    border: none;
    border-radius: .3125rem;
    background: $almost-white;

    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}