.add-to-cart-btn  {
    font-family: $base-font-family;
    font-size: .875rem;
    background: $green-btn;
    color: $true-white;
    border: none;
    border-radius: .3125rem;
    padding: .3125rem;
    margin-top: auto;

    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}