.cart-item {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 3.125rem;
    align-items: center;
    border: .0625rem solid black;
    border-radius: .3125rem;
    width: 100%;

    @media only screen and (max-width: 829px) {
        @include flex-column-centerY;
        gap: .3125rem;
    }

    &__img-wrapper {
        margin: .9375rem;
    }

    &__img {
        max-width: 6.25rem;
        width: 6.25rem;
        height: 6.25rem;
        display: block;
        object-fit: contain;
    }

    &__product-title {
        font-family: $base-font-family;
        font-size: 1rem;
        font-weight: 600;

        @media only screen and (max-width: 829px) {
            text-align: center;
        }
    }

    &__product-category {
        font-family: $base-font-family;
        font-size: 1rem;
        font-weight: 400;
        text-transform: capitalize;
        text-align: center;
    }

    &__price {
        font-family: $base-font-family;
        font-size: 1rem;
        font-weight: 400;
        text-align: center;
    }

    &__item-total {
        @include flex-column-centerY;
        gap: .3125rem;
        margin: 0.9375rem;
    }

    &__product-price {
        font-family: $base-font-family;
        font-size: 1rem;
        font-weight: 600;
        text-align: center;
    }
}