.quantity-input {
    @include flex-row-centerY-centerX;

    &__input {
        background: $almost-white;
        border: none;
        padding: 0.3125rem;
        max-width: 5rem;
        text-align: center;
        color: $blue-text;
        font-family: $base-font-family;
        font-size: .875rem;
        font-weight: 400;

        &:focus {
            outline: none;
        }
    }
}