.swiper-item {
    display: flex !important;
    gap: 1.5625rem;

    @media only screen and (max-width: 829px) {
        flex-direction: column !important;
        align-items: center;
    }

    &__product-img {
        display: block;
        object-fit: contain;
        width: 15.625rem;
        height: 15.625rem;

        @media only screen and (max-width: 829px) {
            width: 9.375rem;
            height: 9.375rem;
        }
    }

    &__info-wrapper {
        @include flex-column-leftX;
        gap: 1.5625rem;

        @media only screen and (max-width: 829px) {
            padding: .9375rem;
        }
    }

    &__product-name {
        font-family: $base-font-family;
        font-weight: 600;
        font-size: 1.125rem;
    }

    &__product-description {
        font-family: $base-font-family;
        font-weight: 400;
        font-size: 1rem;
        max-width: 50rem;
    }

    &__product-link {
        font-family: $base-font-family;
        font-weight: 400;
        font-size: 1.125rem;
        background: $almost-white;
        padding: .625rem 1.5625rem;
        border-radius: .3125rem;

        &:hover {
            opacity: 0.8;
        }

        @media only screen and (max-width: 829px) {
            align-self: center;
        }
    }
}

.swiper-pagination {
    @media only screen and (max-width: 829px) {
        display: none;
    }
}

.swiper-button-prev, .swiper-button-next {
    @media only screen and (max-width: 829px) {
        display: none !important;
    }
}