$true-black: #000000;
$true-white: #FFFFFF;
$almost-white: #CAD9E3;
$blue-main: #233565;
$blue-secondary: #4976F2;
$blue-tertiary: #4D73DB;
$blue-text: #3886C2;
$green-btn: #439B34;
$red-btn: #FF2800;