.cart-wrapper {
    @include flex-column;
    align-items: flex-start;
    gap: 1.5625rem;
    padding: 0.9375rem 1.5625rem;

    &__heading {
        font-family: $base-font-family;
        font-size: $heading-font-size;
        font-weight: $heading-font-weight;
    }

    &__message {
        font-family: $base-font-family;
        font-weight: 400;
        font-size: 1rem;
    }

    &__sum-heading {
        font-family: $base-font-family;
        font-size: 1.25rem;
        font-weight: 600;
        align-self: flex-end;
        margin-right: 3.125rem;
    }

    &__sum {
        font-family: $base-font-family;
        font-size: 1.125rem;
        font-weight: 600;
        align-self: flex-end;
    }
}