.login-wrapper {
    @include flex-column;
    align-items: flex-start;
    gap: .9375rem;
    padding: 0.9375rem 1.5625rem;

    &__heading {
        font-family: $base-font-family;
        font-weight: $heading-font-weight;
        font-size: $heading-font-size;
    }

    &__message {
        font-family: $base-font-family;
        font-weight: 400;
        font-size: 1rem;
    }
}